:root {
  --green-50: hsl(141deg 75% 90%);
  --green-100: hsl(141deg 75% 85%);
  --green-200: hsl(141deg 75% 70%);
  --green-300: hsl(141deg 75% 60%);
  --green-400: hsl(141deg 75% 50%);
  --green-500: hsl(141deg 75% 45%);
  --green-600: hsl(141deg 75% 35%);
  --green-700: hsl(141deg 75% 25%);
  --green-800: hsl(141deg 75% 15%);
  --green-900: hsl(141deg 75% 10%);
  --green-950: hsl(141deg 75% 5%);
  --green-1000: hsl(141deg 75% 2.5%);
  --green-1000-25: hsl(141deg 75% 2.5% / 25%);
  --transition-duration: 200ms;
  --transition-function: ease;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  font-family: "DM Sans", sans-serif;
}

/* Reset */
/* Seletor Universal */
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;

}

body {
  background-color: black;
  color: #fff;

}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.5px 20px;
  position: relative;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.header-right p {
  font-weight: 800;
  color: #908f8f;
  cursor: pointer;
}

.header__link {
  background-color: #fff;
  color: black;
  font-size: 9px;
  padding: 10px 20px;
  border-radius: 100px;
  border: transparent;
  text-decoration: none;
  transition: 300ms;

}

.header__link:hover {
  transform: scale(1.1);
  transition: 300ms;

}

.social {
  background-color: #242525;
  padding: 10px;
  border-radius: 100px;
  font-size: 25px;
  transition: 300ms;
  width: 26px;
}

.social:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to top, #6d6eca 0%, #0077b7 80%);
  transition: 300ms;
}

.header-center {
  display: flex;
  gap: 10px;
  padding-left: 200px;
}

.header__search--lupa {
  padding-left: 20px;
  font-size: 23px;
}

.header__search {
  align-items: center;
  justify-content: center;
  background-color: #1d1e1e;
  border-radius: 50px;
  display: flex;
}

.search {
  background-color: transparent;
  text-overflow: ellipsis;
  border-radius: 100px;
  border: transparent;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  padding: 15px 250px 15px 20px;
  color: #fff;
}

.header img {
  padding: 0 0 0 9px;
  width: 41.5px;
}


/* Main */

.main {
  background-image: linear-gradient(
    to bottom,
    #242525,
    #222323,
    #202121,
    #1f2020,
    #1d1e1e,
    #1b1c1c,
    #1a1b1b,
    #181919,
    #161617,
    #131414,
    #101111,
    #0d0d0d
  );
  margin: 0 10px 10px;
  padding: 20px;
  border-radius: 9px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 76vw;
  max-width: 120vw;
  margin-left: 435px;
  margin-right: 10px;
  top: 63px;
  justify-content: space-between;
}

.sidebar {
  border-radius: 10px;
  /* max-width: 51.8vw; */
  position: absolute;
  top: 64px;
  left: 10px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(to bottom, #242525, #222323, #202121, #1f2020, #1d1e1e, #1b1c1c, #1a1b1b, #181919, #161617, #131414, #101111, #0d0d0d); */
}

.biblioteca {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.library-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 210px;
  align-items: center;
}

.library-title--2 {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.library-title--2:hover {
  cursor: pointer;
  color: #fff;
}

.library-header--plus {
  padding: 24px 10px;;
}

.library-header--plus:hover {
  cursor: pointer;
  color: #fff;
}

.library-title {
  color: #ababab;
  font-size: 16px;
}

.library-title--blocks {
  width: 100%;
  margin-top: 30px;
  background-color: #202121;
  padding: 20px 125px 20px 0px;
  font-size: 13px;
  border-radius: 10px;
}

.library-title--blocks h3 {
  padding-left: 17px;
}

.library-title--blocks p {
  font-weight: 700;
  margin: 10px 0 10px 0;
  padding-left: 17px;
}

.library-link {
  padding: 7px 11px 7px 17px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  margin: 9px 0 0 17px;
  font-size: 15px;
  cursor: pointer;
  transition: 100ms;

}

.library-link:hover {
  transition: 100ms;
  transform: scale(1.1);
} 

.idioma-link {
  margin-top: 338px;
  margin-bottom: 40px;
  margin-left: 16px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 8px;
  width: 180px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.idioma-link:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 2px solid #fff;
  font-weight: 800;
}

@media (max-width: 480px) {
  .main {
    padding: 12px 16px;
  }
}
/* ItemList */

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 130%;
  padding: 5px 0 0 0;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
}

@media (max-width: 480px) {
  .item-list {
    gap: 20px;
  }

  .item-list__container {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .item-list__header {
    flex-direction: column;
    gap: 10px;
  }
}

/* SingleItem */

.single-item {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius-l);
  align-items: center;
  transition: background-color var(--transition-function)
    var(--transition-duration);
}

.single-item:hover {
  background-image: linear-gradient(
    to bottom,
    #242525,
    #222323,
    #202121,
    #1f2020,
    #1d1e1e,
    #1b1c1c,
    #1a1b1b,
    #181919,
    #161617,
    #131414,
    #101111,
    #0d0d0d
  );
  text-decoration: none;
}

.single-item:hover .single-item__icon {
  opacity: 100%;
  transform: translateY(0);
}

.single-item:hover .single-item__2lines {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

.single-item__div-image-button {
  position: relative;
}

.single-item__div-image {
  width: 140px;
  height: 140px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.single-item__icon {
  position: absolute;
  font-size: 50px;
  right: 7.5px;
  bottom: 7.5px;
  color: var(--green-400);
  opacity: 0;
  transform: translateY(100%);
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-duration);
  transition-property: opacity, transform;
}

.single-item__icon--artist {
  position: fixed;
  opacity: 1;
  transform: translateY(0);
  right: 25px;
  bottom: 25px;
}

.single-item__title {
  font-weight: 600;
}

.single-item__type {
  font-size: 13px;
}

.single-item__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-item__2lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 480px) {
  .single-item__icon {
    right: 15px;
    bottom: 15px;
  }

  .single-item {
    padding: 0;
  }

  .single-item__texts {
    gap: 0;
  }
}

/* Artist */

.artist {
  margin: 0 10px 10px;
  overflow: hidden;
}

.artist__header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  --_shade: hsl(0deg 0% 0% / 25%);
  max-width: 120vw;
  margin-left: 425px;
  top: 64px;
  display: flex;
  align-items: end;
  padding: 25px;
  height: 40svh;
  background-size: cover;
  background-position-y: 20%;
  background-image: linear-gradient(to bottom, var(--_shade), var(--_shade)),
    url(https://i.scdn.co/image/ab67618600001016909a162796dbc3629a1fadeb);
}

.artist__title {
  font-size: 96px;
}

.artist__body {
  padding: 39px 25px;
  background-image: linear-gradient(
    to bottom,
    #242525,
    #222323,
    #202121,
    #1f2020,
    #1d1e1e,
    #1b1c1c,
    #1a1b1b,
    #181919,
    #161617,
    #131414,
    #101111,
    #0d0d0d
  );
  max-width: 120vw;
  margin-left: 425px;
  top: 64px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1280px) {
  .artist__title {
    font-size: 7.5vw;
    line-height: 100%;
  }
}

@media (max-width: 480px) {
  .artist__title {
    font-size: 36px;
  }

  .artist__header {
    padding: 16px;
  }

  .artist__body {
    padding: 25px 16px;
    gap: 16px;
  }
}

/* SongItem */

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-radius: var(--border-radius-s);
  transition: background-color var(--transition-function)
    var(--transition-duration);
  gap: 15px;
}

.song-item:hover {
  background-color: var(--green-800);
  text-decoration: none;
}

.song-item__name:hover {
  text-decoration: underline;
}

.song-item__image {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-s);
}

.song-item__album {
  display: flex;
  align-items: center;
  gap: 10px;
}

.song-item__number-album {
  display: flex;
  align-items: center;
  gap: 25px;
}

.song-list__see-more {
  font-weight: 700;
  margin-left: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.song-list__see-more:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .song-item {
    padding: 10px 16px;
  }
}

/* Song */

.song {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #121212;

  /* flex: 1; */
}

.song__container {
  min-height: 38vw;
  max-width: 120vw;
  margin-left: 435px;
  margin-right: 10px;
  background-image: linear-gradient(
    to bottom,
    #242525,
    #222323,
    #202121,
    #1f2020,
    #1d1e1e,
    #1b1c1c,
    #1a1b1b,
    #181919,
    #161617,
    #131414,
    #101111,
    #0d0d0d
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.song__image-container {
  box-shadow: 0 0 25px 10px var(--green-1000-25);
}

.song__bar {
  margin-left: 435px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  background-color: #121212;
  color: white;
  padding: 16px 25px;
  gap: 15px;
}

.song__artist-image {
  justify-self: start;
  overflow: hidden;
}

.song__name {
  font-size: 19px;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .song__name {
    font-size: 16px;
  }

  .song__bar {
    grid-template-columns: auto 2fr 3fr;
  }

  .song__info {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }
}

@media (max-width: 800px) {
  .song__bar {
    grid-template-columns: auto 1fr;
  }

  .sidebar, .search, .header-right, .header__search  {
    display: none;
  }

  .main, .artist__body, .artist__header, .song__container, .song__bar {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .song__artist-image {
    width: 50px;
    height: 50px;
  }

  .sidebar {
    display: none;
  }

  .song__info,
  .song__name {
    font-size: 13px;
  }
}

/* Player */

.player {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.player__controllers {
  display: flex;
  font-size: 25px;
  align-items: center;
  gap: 20px;
}

.player__icon {
  font-size: 25px;
  color: rgb(137, 137, 137);
  cursor: pointer;
  transition-property: transform, color;
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-duration);
}

.player__icon:hover {
  transform: scale(105%);
  color: var(--green-300);
}

.player__icon--play {
  color: #fff;
  font-size: 35px;
}

.player__progress {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.player__time {
  width: 45px;
  text-align: center;
}

.player__bar {
  width: 100%;
  height: 4px;
  background-color: #666;
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.player__bar-progress {
  --_progress: 0;

  height: 100%;
  width: var(--_progress);
  background-color: white;
  transition: width var(--transition-function) var(--transition-duration);
}

@media (max-width: 1280px) {
  .player__time {
    display: none;
  }
}

@media (max-width: 800px) {
  .player {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
}
